 body{
 	font-family: sans-serif;
        background-image: url(../8.jpg)
 	
 }
 h1{
 	text-align: center;
 	color: black;
 	margin: 30px 0 50px;



 }

 .gallery{
 	margin: 10px 50px;


 }

 .gallery img{
     width: 230px;
     padding: 5px
     filter:grayscale(100%);

 }
 .gallery img:hover{
         filter: grayscale(0);
         


 }